$header-hight: 34px;
$toolbar-hight: 34px;
$formula-height: 24px;
$info-cell-width: 40px;
$row-height:24px;
$cell-width: 120px;
$db-header-hieght: 64px;
$border-color: #c0c0c0;
$primary-color: #3c74ff;